﻿@model IEnumerable<string>

<div style="padding:20px">

    @Html.ActionLink("Все категории", "List", "Game", null,
        new { @class = "btn btn-block btn-default btn-lg btn-outline-dark" })
    <p>

    </p>

    @foreach (var link in Model)
    {
        @Html.RouteLink(link, new
        {
            controller = "Game",
            action = "List",
            category = link,
            page = 1
        }, new
        {
            @class = "btn btn-block btn-default btn-lg btn-outline-primary"
                + (link == ViewBag.SelectedCategory ? "btn btn-outline-primary" : "")
        })
    }
</div>