img {
    border-style: none;
}
.table-icon {
    display: inline-block;
}

th {
    text-align: center; /* Выравнивание по левому краю */
    background: SteelBlue; /* Цвет фона */
    color: white; /* Цвет текста */
    border: 1px solid white; /* Рамка вокруг ячеек */
   }

table thead tr th {
    padding: 5px;
    text-align: left;
    border-right: 1px dashed #bcbaba;
}

th {
    font-weight: bold;
    text-align: -internal-center;
}

table {
border-collapse: collapse; /*убираем пустые промежутки между ячейками*/
border: 1px solid grey; /*устанавливаем для таблицы внешнюю границу серого цвета толщиной 1px*/
}