﻿@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>eUse System | @ViewBag.Title</title>

    @Styles.Render("~/bundles/bootstrap/css")
    @Styles.Render("~/bundles/Global/css")
    @Styles.Render("~/bundles/Slaider/css")
    @Styles.Render("~/bundles/Block/css")

    @Scripts.Render("~/bundles/jquery/js")
    @Scripts.Render("~/bundles/bootstrap/js")
    @Scripts.Render("~/bundles/popper.min/js")

</head>
<body>

    @Html.Partial("_Header")

    @RenderBody()

    @Html.Partial("_Footer")


</body>
</html>
