﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}
@using System.Web.Optimization


    <div class="carousel slide" data-ride="carousel" id="slides">
        <ul class="carousel-indicators">
            <li data-target="#slides" data-slide-to="0" class="active"></li>
            <li data-target="#slides" data-slide-to="1"></li>
            <li data-target="#slides" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Content/img/2.jpeg">
               
            </div>
            <div class="carousel-item ">
                <img src="~/Content/img/1.jpg">
            </div>
            <div class="carousel-item ">
                <img src="~/Content/img/civ3.jpg">
            </div>
        </div>
    </div>
        <!-- Основной блок сайта -->
        <div class="container-fluid">
            <div class="row jumbotron">
                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
                    <p class="lead ">
                        Civilization — это серия пошаговых стратегий, основанная легендарным дизайнером Сидом Мейером,
                        главная задача которых — создать империю, способную выдержать испытание временем.
                        Вам предстоит исследовать новые земли, изучать технологии, побеждать других могущественных властителей и
                        строить величайшую в истории человечества цивилизацию.
                    </p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
                    <a href="#"> <button class="btn btn-success btn-lg" type="button">Читать дальше</button></a>
                </div>
            </div>
        </div>
        <!--Блок с характеристиками -->
        <div class="container-fluid">
            <div class="row text-center alert">
                <div class="col-12">
                    <h1 class="display-4">Основные районы</h1>
                </div>
                <hr>
                <div class="col12">
                    <p class="lead"></p>
                </div>
            </div>
        </div>
        <!-- Блок с описанием языков-->
        <div class="container-fluid padding">
            <div class="row text-center padding">
                <div class="col-xs-12 col-sm-6 col-md-4">

                    <a class="btn btn-dark btn-secondary btn-lg active" href='@Url.Action("promka", "Home")'>
                        <img src='@Url.Content("~/Content/img/icon1.png")' />
                    </a>

                        <h3>Промышленная зона</h3>
                        <p>Местонахождение промышленных сооружений и основной источник очков производства.</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <a class="btn btn-dark btn-secondary btn-lg active" href="#"><img src="~/Content/img/icon2.png" alt=""></a>
                    <h3>Театральная площадь</h3>
                    <p>Местонахождение культурных сооружений и основной источник очков культуры.</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <a class="btn btn-dark btn-secondary btn-lg active" href="#"><img src="~/Content/img/icon3.png" alt=""></a>
                    <h3>Кампус</h3>
                    <p>Местонахождение научных сооружений и основной источник очков науки.</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <a class="btn btn-dark btn-secondary btn-lg active" href="#"><img src="~/Content/img/icon4.png" alt=""></a>
                    <h3>Священное место</h3>
                    <p>Местонахождение религиозных сооружений и основной источник очков веры.</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <a class="btn btn-dark btn-secondary btn-lg active" href="#"><img src="~/Content/img/icon5.png" alt=""></a>
                    <h3>Военный лагерь</h3>
                    <p>Отвечает за производство юнитов и оборону городов.</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <a class="btn btn-dark btn-secondary btn-lg active" href="#"><img src="~/Content/img/icon6.png" alt=""></a>
                    <h3>Гавань</h3>
                    <p>Отвечает за морские коммуникации, является одним из основных источников золота.</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <a class="btn btn-dark btn-secondary btn-lg active" href="#"><img src="~/Content/img/icon7.png" alt=""></a>
                    <h3>Центр города</h3>
                    <p>Основной райно, появляестя после активирования поселенца, является одним из древних районов города</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <a class="btn btn-dark btn-secondary btn-lg active" href="#"><img src="~/Content/img/icon8.png" alt=""></a>
                    <h3>Центр коммерции</h3>
                    <p>Местонахождение финансовых и торговых сооружений, основной источник золота</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <a class="btn btn-dark btn-secondary btn-lg active" href="#"><img src="~/Content/img/icon9.png" alt=""></a>
                    <h3>Космопорт </h3>
                    <p>Район необходимый для совершения научной победы</p>
                </div>
            </div>
            <hr class="my-4">
        </div>
        <!-- секция с изображениями <div class="container-fluid padding">
        <div class="row padding" >
            <dic class="col-lg-6">
                <h2 >Xljjkljkl</h2>
                <p>Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Ullam, voluptatibus quibusdam
                sint? Dolore, minus, voluptas nihil ea quam eveniet
                deleniti.
                <br><br>
                Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Ullam, voluptatibus quibusdam
                sint? Dolore, minus, voluptas nihil ea quam eveniet
                deleniti
                <br><br>
                Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Ullam, voluptatibus quibusdam
                sint? Dolore, minus, voluptas nihil ea quam eveniet
                deleniti.</p>
                <br>
                <a href="#" class="btn btn-danger">	Xbnf</a>

            </dic>
            <dic class="offse-lg-2 col-lg-4">
                <br>
                <img src="" class="img-fluid" alt="">
            </dic>
        </div>
    </div>-->
        <div class="container-fluid padding">
            <div class="row alert text-center">
                <div class="col-12">
                    <h1 class="display-4">Другие игры на данную тематику</h1>
                    <hr>
                </div>
            </div>
        </div>
        <!-- Другие игры -->
        <div class="container padding">
            <div class="row padding">
                <div class="col-md-4">
                    <div class="card">
                        <img src="~/Content/img/dopolnenie1.png" class="card-img-top" alt="">
                        <div class="card-body">
                            <h4 class="card-title">HUMANKNG</h4>
                            <p class="card-text">
                                Грядущая компьютерная игра в жанре
                                глобальной пошаговой 4X-стратегии ближайший конкурент Civilization.
                                Выпуск игры запланирован на 2020 год для Microsoft Windows
                            </p>
                            <a href="#" class="btn btn-warning">Посмотреть</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="~/Content/img/dopolnenie2.jpg" class="card-img-top" alt="">
                        <div class="card-body">
                            <h4 class="card-title">Sid Meier’s Civilization: Beyond Earth</h4>
                            <p class="card-text">
                                История игры происходит примерно через 600 лет от настоящего, когда люди должны покинуть
                                Землю в результате события под названием «Великая ошибка».
                                В игре человечество путешествует по космосу, чтобы начать новую жизнь,
                                колонизируя внеземные планеты
                            </p>
                            <a href="#" class="btn btn-warning">Посмотреть</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="~/Content/img/dopolnenie3.jpg" class="card-img-top" alt="">
                        <div class="card-body">
                            <h4 class="card-title">Endless Legend</h4>
                            <p class="card-text">
                                Глобальная фэнтези-стратегия. Цель игры -
                                подчинить мир Аурига одной из одиннадцати основных фракций путем дипломатии или войны,
                                одновременно открывая новые технологии, исследуя мир и основывая города.
                            </p>
                            <a href="#" class="btn btn-warning">Посмотреть</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
