﻿@{ Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home"; }
@using System.Web.Optimization

<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<div class="m-4">
    <link rel="stylesheet" href="promka.css">
    <h1>Промышленная зона </h1>
    <p>
        Промышленная зона позволяет увеличить производство города или городов.<br>
        Ганза - уникальный район Германии, который отличается бонусами за соседство.
    </p>
</div>

<div class="m-4">
    <table border="1">
        <tr>
            <th>Название</th>
            <th>Требования</th>
            <th  width ="40px" align="center"> <img src="~/Content/img/Промышленная_зона_(Civ6).png" alt="" class="center-img"></th>
            <th align="center"> <img src="~/Content/img/Комерческий_район_(Civ6).png" alt="" class="center-img"></th>
            <th>Доход</th>
            <th>Доход от соседств</th>
            <th>Специалист</th>
        </tr>
        <tr>
            <td> <b>Промышленная зона </b></td>
            <td align="center">
                Ученичество <br>
                <img src="~/Content/img/Apprenticeship.png" alt="" class="center-img">
            </td>
            <td width="40px" align="center"> 54</td>
            <td width="30px" align="center"> 1</td>
            <td>+1 очко Великого Инженера</td>
            <td>
                +2 <img src="~/Content/img/Промышленная_зона_(Civ6).png" alt=""> производство рядом с акведуком, баней, каналом и дамбой   	<br>
                +1 <img src="~/Content/img/Промышленная_зона_(Civ6).png" alt=""> производство рядом с каменоломней   	<br>
                +1 <img src="~/Content/img/Промышленная_зона_(Civ6).png" alt=""> производство рядом со стратегическим ресурсом   	<br>
                +0.5 <img src="~/Content/img/Промышленная_зона_(Civ6).png" alt=""> производство рядом с каждым рудником, лесопилкой   	<br>
                +0.5 <img src="~/Content/img/Промышленная_зона_(Civ6).png" alt=""> производство рядом с другим районом   	<br>
            </td>
            <td>+2 <img src="~/Content/img/Промышленная_зона_(Civ6).png" alt=""></td>
        </tr>
        <tr>
            <td><b>Ганза</b></td>
            <td align="center">
                Ученичество. Германия. Заменяет Промышленную зону.<br>
                <img src="~/Content/img/Apprenticeship.png" alt="" class="center-img">
            </td>
            <td width ="40px" align="center">27</td>
            <td width ="30px" align="center">1</td>
            <td>+1 очко Великого Инженера</td>
            <td>
                +2 <img src="~/Content/img/Промышленная_зона_(Civ6).png" alt=""> производство рядом с центром коммерции, акведуком, каналом и дамбой  	<br>
                +1 <img src="~/Content/img/Промышленная_зона_(Civ6).png" alt=""> производство рядом с ресурсом 	<br>
                +0.5 <img src="~/Content/img/Промышленная_зона_(Civ6).png" alt="">производство рядом с другим районом   	<br>
            </td>
            <td>+2 <img src="~/Content/img/Промышленная_зона_(Civ6).png" alt=""></td>
        </tr>

    </table>
</div>

<div class="m-4">
    <p>
        Здания в районе дают производство, но первое здание мастерская даёт производство только городу,<br> а остальные здания действуют на города в некотором радиусе от промышленного района.
    </p>
</div>


<div class="m-4">
    <table border="1">
        <tr>
            <th>Название</th>
            <th>Требования</th>
            <th width ="40px" align="center">	<img src="~/Content/img/Промышленная_зона_(Civ6).png" alt="" class="center-img"></th>
            <th width ="30px" align="center">	<img src="~/Content/img/Комерческий_район_(Civ6).png" alt="" class="center-img"></th>
            <th>Доход</th>
        </tr>
        <tr>
            <td align="center">
                <b>Мастерская</b> <br>
                <img src="~/Content/img/Workshop.png" alt="" class="center-img">
            </td>
            <td align="center">
                Ученичество. Германия. Заменяет Промышленную зону.<br>
                <img src="~/Content/img/Apprenticeship.png" alt="" class="center-img">
            </td>
            <td width="40px" align="center">195</td>
            <td width="30px" align="center">1</td>
            <td>
                +2 <img src="~/Content/img/Промышленная_зона_(Civ6).png" alt=""> <br>
                +1 специалист	<br>
                +1 очко Великого Инженера<br>
            </td>
        </tr>
        <tr>
            <td align="center">
                <b>Фабрика</b> <br>
                <img src="~/Content/img/Factory.png" alt="" class="center-img">
            </td>
            <td align="center">
                Индустриализация <br>
                <img src="~/Content/img/Industrialization.png" alt="" class="center-img">
            </td>
            <td width ="40px" align="center">390</td>
            <td width ="30px" align="center">2</td>
            <td>
                +3 <img src="~/Content/img/Промышленная_зона_(Civ6).png" alt=""> 	<br>
                +3 <img src="~/Content/img/Промышленная_зона_(Civ6).png" alt=""> когда электрифицирована (2 энергии)
                +1 специалист	<br>
                +1 очко Великого Инженера<br>
                Производство даётся всем городам в радиусе 6 тайлов.<br>
            </td>
        </tr>
        <tr>
            <td align="center">
                <b>Фабрика электроники</b><br>
                <img src="~/Content/img/Factory.png" alt="" class="center-img">
            </td>
            <td align="center">
                Япония. Индустриализация. Заменяет Фабрику <br>
                <img src="~/Content/img/Industrialization.png" alt="" class="center-img">
            </td>
            <td width="40px" align="center">390</td>
            <td width="30px" align="center">2</td>
            <td>
                +3 <img src="~/Content/img/Промышленная_зона_(Civ6).png" alt=""> 	<br>
                +5 <img src="~/Content/img/Промышленная_зона_(Civ6).png" alt=""> когда электрифицирована (2 энергии)
                +1 специалист	<br>
                +1 очко Великого Инженера<br>
                +4 <img src="Культура.png" alt=""> <br>
                Производство даётся всем городам в радиусе 6 тайлов.<br>
            </td>
        </tr>
    </table>
</div>
<div class="m-4">
    <p>Здания электрификации можно построить после строительства фабрики.</p>

    <table border="1">
        <tr>
            <th>Название</th>
            <th>Требования</th>
            <th width ="40px" align="center">	<img src="~/Content/img/Промышленная_зона_(Civ6).png" alt="" class="center-img"></th>
            <th width ="30px" align="center">	<img src="~/Content/img/Комерческий_район_(Civ6).png" alt="" class="center-img"></th>
            <th>Доход</th>
        </tr>
        <tr>
            <td align="center">
                Угольная электростанция <br>
                <img src="~/Content/img/Coal_Power_Plant.png" alt="" class="center-img">
            </td>
            <td align="center">
                Индустриализация. Нельзя построить вместе с мазутной и ядерной электростанциями <br>
                <img src="~/Content/img/Industrialization.png" alt="" class="center-img">
            </td>
            <td width ="40px" align="center">300</td>
            <td width ="30px" align="center">3</td>
            <td>
                Бонусное <img src="~/Content/img/Промышленная_зона_(Civ6).png" alt=""> равное <img src="~/Content/img/Промышленная_зона_(Civ6).png" alt=""> бонусу за соседство<br>
                +1 специалист<br>
                +1 <img src="~/Content/img/Промышленная_зона_(Civ6).png" alt=""> специалистам<br>
                +1 очко Великого Инженера<br>
                Производственный бонус распространяется на центры городов в радиусе 6 тайлов<br>
                Производственный бонус из разных электростанций не суммируется.<br>
                Автоматические конвертирует уголь в электроэнергию городам в радиусе 6 тайлов.<br>
                1 уголь даёт 4 энергии<br>
                Выделяет большое количество CO2<br>
            </td>
        </tr>
        <tr>
            <td align="center">
                Мазутная электростанция <br>
                <img src="~/Content/img/Oil_Power_Plant.png" alt="" class="center-img">
            </td>
            <td align="center">
                Электричество. Нельзя построить вместе с угольной и ядерной электростанциями<br>
                <img src="~/Content/img/Electricity.png" alt="" class="center-img">
            </td>
            <td width ="40px" align="center">360</td>
            <td width ="30px" align="center">3</td>
            <td>
                +3 <img src="~/Content/img/Промышленная_зона_(Civ6).png" alt=""><br>
                +1 специалист<br>
                +1 <img src="~/Content/img/Промышленная_зона_(Civ6).png" alt=""> специалистам<br>
                +1 очко Великого Инженера<br>
                Производственный бонус распространяется на центры городов в радиусе 6 тайлов<br>
                Производственный бонус из разных электростанций не суммируется.<br>
                Автоматические конвертирует нефть в электроэнергию городам в радиусе 6 тайлов.<br>
                1 нефть даёт 4 энергии<br>
                Выделяет большое количество CO2<br>
            </td>
        </tr>

        <tr>
            <td align="center">
                Ядерная электростанция <br>
                <img src="~/Content/img/Nuclear_Power_Plant.png" alt="" class="center-img">
            </td>
            <td align="center">
                Расщепление ядра. Нельзя построить вместе с угольной и мазутной электростанциями<br>
                <img src="~/Content/img/Nuclear_Fission.png" alt="" class="center-img">
            </td>
            <td width="40px" align="center">480</td>
            <td width="30px" align="center">3</td>
            <td>
                +4 <img src="~/Content/img/Промышленная_зона_(Civ6).png" alt=""><br>
                +3 <img src="~/Content/img/наука.png" alt=""><br>
                +1 специалист<br>
                +1 <img src="~/Content/img/Промышленная_зона_(Civ6).png" alt=""> специалистам<br>
                +1 очко Великого Инженера<br>
                Производственный бонус распространяется на центры городов в радиусе 6 тайлов<br>
                Производственный бонус из разных электростанций не суммируется.<br>
                Автоматические конвертирует уран в электроэнергию городам в радиусе 6 тайлов.<br>
                1 нефть даёт 16 энергии<br>
                Выделяет большое количество CO2<br>
                Выделяет очень маленькое количество CO2<br>
                Есть вероятность взрыва ядерного реактора<br>
            </td>
        </tr>
    </table>
</div>

